#navbar{
    height: 180px;
}

#navbar-container {
    flex-direction: column;
    padding: 20px;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#navbar-items li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/*pieces*/

#pieces {
    grid-template-columns: repeat(2, 1fr);
}

.piece {
    width: 50%;
}

/*features */

#features-container {
    grid-template-columns: 1fr;
    margin-right: 80px;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

/*goal*/

#goal-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

.iten {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* masters*/

#masters {
    flex-direction: column;
    text-align: center; 
}

.teatcher-container {
   margin-right: 200px; 
}

/*openings*/

#openings-container {
    grid-template-columns: 1fr;
}

.openings-image {
    width: 100%;
    margin-right: 50px;
}

.headline {
   text-align: center;
}